
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    {{ $googleID := (printf "%#s" $.Site.Params.ga4 ) }}
    {{ $googleURL := (printf "https://www.googletagmanager.com/gtag/js?id=%s" $googleID) }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{ with $googleURL }}<script async src="{{ . }}"></script>{{ end }}
    {{ with $googleID }}<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ . }}');
    </script> {{ end }}
